Source: libutil
Priority: optional
Maintainer: Benjamin Eikel <debian@eikel.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/PADrend/Util

Package: libutil-dev
Section: libdevel
Architecture: any
Depends: libutil0 (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libutil0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
