Source: libutil
Priority: optional
Maintainer: Benjamin Eikel <debian@eikel.org>
Build-Depends: debhelper (>= 9),
               cmake,
               libcppunit-dev,
               libsqlite3-dev,
               zlib1g-dev,
               libpng-dev,
               libarchive-dev,
               libzip-dev,
               libxml2-dev,
               libcurl4-openssl-dev | libcurl-dev,
               libfreetype6-dev,
               libsdl2-dev,
               libsdl2-image-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/PADrend/Util

Package: libutil-dev
Section: libdevel
Architecture: any
Depends: libutil0 (= ${binary:Version}), ${misc:Depends}
Description: Various utility classes - development files
 Library containing various utility classes.
 .
 The Util library has been developed and used mainly in the context 
 of PADrend.
 .
 This package contains development files.

Package: libutil0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Various utility classes - shared library
 Library containing various utility classes.
 .
 The Util library has been developed and used mainly in the context 
 of PADrend.
 .
 This package contains the Util runtime library.
